@font-face {
  font-family: "Viza";
  src: url(./font/69_tall.ttf);
}

body {
  background-color: black !important;
  position: relative;
}

.nav-container {
  margin: auto;
}

nav {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem;
}

.logo {
  width: 10%;
  float: left;
  transition: width 0.5s ease;
}

.nav-a {
  width: fit-content;
  float: right;
  padding: 2rem;
}

ul {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
  padding: 1rem;
}

a {
  color: black !important;
  text-decoration: none !important;
  font-size: 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.3s;
  padding: 1rem;
}

.sufevs:hover {
  color: rgb(255, 46, 220) !important;
}

.menu-btn {
  float: right;
}

i {
  font-size: 2.5rem;
  display: none;
}

.show-menu {
  display: flex !important;
  flex-direction: column !important;
  transition: all 0.5s ease;
  background-color: rgba(192, 192, 192, 0.164);
  border-radius: 100%;
  padding: 3rem;
  box-shadow: 20px 20px 20px 10px;
}

.bigger {
  width: 30% !important;
}

.active {
  font-weight: bold;
}

@keyframes anim_o {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.anim {
  animation: anim_o 0.5s linear forwards;
}

.scrollImg {
  position: absolute;
  right: 100%;
  top: 80%;
}

.scrl2 {
  right: 150% !important;
}
span {
  white-space: nowrap;
  max-width: 100%;
}

.weird {
  width: 100%;
  margin: auto;
}

.img {
  position: absolute;
  top: 50%;
  z-index: -1;
  opacity: 30%;
}
p {
  mix-blend-mode: color-burn;
}
.img-1 {
  transform: rotate(-90deg);
  mix-blend-mode: difference;
  z-index: 2;
}

.img-2 {
  position: absolute;
  z-index: -1;
  opacity: 30%;
  bottom: -40%;
}

.containerA, .audio1{
  display: flex;
  flex-direction: column;
  text-align: center;
}
span{
  padding: 1rem;
}
.audio1{
  align-items: center;
  padding: 2rem;
}
